my second test

In [5]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [7]:
df = spark.read.csv('../aws-instance/Datasets/dataframe_dataset.csv',header=True,inferSchema=True)

In [8]:
df

DataFrame[age: int, job: string, marital: string, education: string, balance: int, housing: string, loan: string, duration: int, deposit: string]

In [10]:
df.show()

+---+-----------+--------+---------+-------+-------+----+--------+-------+
|age|        job| marital|education|balance|housing|loan|duration|deposit|
+---+-----------+--------+---------+-------+-------+----+--------+-------+
| 59|     admin.|    null|secondary|   2343|    yes|  no|    1042|    yes|
| 56|     admin.| married|secondary|   null|     no|  no|    1467|    yes|
| 41| technician| married|secondary|   1270|    yes|  no|    1389|    yes|
| 55|   services|    null|secondary|   null|    yes|  no|     579|    yes|
| 54|     admin.| married| tertiary|    184|     no|  no|     673|    yes|
| 42| management|    null| tertiary|      0|    yes| yes|     562|    yes|
| 56| management| married| tertiary|    830|    yes| yes|    1201|    yes|
| 60|    retired|    null|secondary|    545|    yes|  no|    1030|    yes|
| 37| technician| married|secondary|      1|    yes|  no|     608|    yes|
| 28|   services|    null|secondary|   null|    yes|  no|    1297|    yes|
| 38|     admin.|  single|secondary|    100|    yes|  no|     786|    yes|
| 30|blue-collar| married|secondary|    309|    yes|  no|    1574|    yes|
| 29| management| married| tertiary|    199|    yes| yes|    1689|    yes|
| 46|blue-collar|  single| tertiary|    460|    yes|  no|    1102|    yes|
| 31| technician|  single| tertiary|    703|    yes|  no|     943|    yes|
| 35| management|divorced| tertiary|   3837|    yes|  no|    1084|    yes|
| 32|blue-collar|  single|  primary|   null|    yes|  no|     541|    yes|
| 49|   services| married|secondary|     -8|    yes|  no|    1119|    yes|
| 41|     admin.| married|secondary|     55|    yes|  no|    1120|    yes|
| 49|     admin.|divorced|secondary|    168|    yes| yes|     513|    yes|
+---+-----------+--------+---------+-------+-------+----+--------+-------+
only showing top 20 rows

In [13]:
df.printSchema()
print(df.head(1))

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- deposit: string (nullable = true)

[Row(age=59, job='admin.', marital=None, education='secondary', balance=2343, housing='yes', loan='no', duration=1042, deposit='yes')]

In [14]:
df.describe().show()

+-------+-----------------+-------+--------+---------+------------------+-------+----+------------------+-------+
|summary|              age|    job| marital|education|           balance|housing|loan|          duration|deposit|
+-------+-----------------+-------+--------+---------+------------------+-------+----+------------------+-------+
|  count|              100|    100|      95|      100|                96|    100| 100|               100|    100|
|   mean|            40.92|   null|    null|     null|1074.5520833333333|   null|null|            931.97|   null|
| stddev|9.704398669436122|   null|    null|     null|1709.7039686497387|   null|null|353.62730638085895|   null|
|    min|               23| admin.|divorced|  primary|              -416|     no|  no|               395|    yes|
|    max|               60|unknown|  single|  unknown|             10576|    yes| yes|              2087|    yes|
+-------+-----------------+-------+--------+---------+------------------+-------+----+------------------+-------+